.error {
	position: relative;
	height: 100vh;

	&__inner {
		position: absolute;
		left: 50%;
		top: 50%;
		max-width: 520px;
		width: 100%;
		text-align: center;
		line-height: 1.4;
		-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);

		&-status {
			height: 250px;
			@include screen-smaller-than(sm) {
				height: 130px;
			};

			& h1 {
				font-size: 200px;
				@include screen-smaller-than(sm) {
					font-size: 115px;
				};

				font-weight: 900;
				margin: 0px;
				color: $colorLayerDark;

				& > span {
					display: inline-block;

					width: 120px;
					height: 120px;
					@include screen-smaller-than(sm) {
						width: 86px;
						height: 86px;
					};

					z-index: -1;
					background-image: url('../images/errors/emoji.png');
					background-size: cover;
					-webkit-transform: scale(1.4);
						-ms-transform: scale(1.4);
							transform: scale(1.4);
				}
			}
		}
		& > h2 {
			font-size: 22px;
			font-weight: 900;
			margin: 0;
			text-transform: uppercase;
			color: $colorLayerDark;
			& > span {
				color: lighten($colorLayerDark, 35%);
				white-space: nowrap;
			}
		}
		& > p {
			margin-top: 5px;
			color: $colorLayerDark;
			font-weight: 700;
		}
		& > a {
			display: inline-block;
			margin-top: 10px;
			font-weight: 900;
		}
	}
}
