.layout {

	&__sheet {
		max-width: 700px;
		margin: 0 auto;
		@include screen-smaller-than(sm) {
			padding: 0 20px;
		};

		& h2 {
			margin-top: 35px;
		}
		& h3 {
			font-size: 20px;
		}
	}

	&__extended-sheet {
		max-width: 1000px;
		margin: 0 auto;
	}

}
