.navigation {

	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: $colorLayerLight;

	margin-bottom: 50px;
	@include screen-smaller-than(md) {
		margin-bottom: 20px;
	};

	display: flex;
	justify-content: space-around;

	&__section {

	}

	&__link-item {
		padding: 10px 10px;
		font-weight: 600;
	}

	& a {
		color: $colorLayerDark;
		@include deftrans(color);
		&:hover {
			color: $colorHighlight;
			@include deftrans(color);
		}
	}

	/*
	 * The styles for the navigation bar visible on sheet-layout sites
	 */
	&-sheet {
		display: block;
	}

}
