.showcase {
	height:				100%;
	background-color:	#AAA;
	display:			flex;
	&--left {
		$leftColor:	#BBB;
		background: $leftColor;
		background: linear-gradient(90deg, darken($leftColor, 20%) 0%, darken($leftColor, 10%) 50%, darken($leftColor, 0%) 100%);
		width: 50%;
		height: 100%;
	}
	&--right {
		background: #EEE;
		background: linear-gradient(90deg, #FFF 0%, #EEE 50%, #DDD 100%);
		width: 50%;
		height: 100%;
	}
	&__overlay {
		box-shadow:	inset 0 0 100px #555;
		position:	absolute;
		top:		0;
		right:		0;
		bottom:		0;
		left:		0;
	}
	&__panel {
		background: $colorLayerLight;
		box-shadow:	0 0 300px 10px #BBB;
		position:	absolute;
		top:		0;
		right:		0;
		bottom:		0;
		left:		0;
		margin:		200px 300px;
		@include screen-smaller-than(xl) {
			margin:	200px 200px;
		}
		@include screen-smaller-than(lg) {
			margin:	200px 150px;
		}
		@include screen-smaller-than(md) {
			margin:	200px 100px;
		}
		@include screen-smaller-than(sm) {
			margin:	200px 50px;
		}
		@include screen-smaller-than(xs) {
			margin:	200px 0px;
		}
	}
}
